<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="butterflydevs.brainstudio" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActividadPrincipal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Juego1"
            android:label="@string/title_activity_niveles" >
        </activity>
        <activity
            android:name=".Ranking"
            android:label="@string/title_activity_ranking" >
        </activity>
        <activity
            android:name=".JuegoGrid12"
            android:label="@string/title_activity_juego_grid12" >
        </activity>
        <activity
            android:name=".Juego1niveln"
            android:label="@string/title_activity_juego_grid24" >
        </activity>
        <activity
            android:name=".JuegoGrid40"
            android:label="@string/title_activity_prueba" >
        </activity>
        <activity
            android:name=".eliminame"
            android:label="@string/title_activity_eliminame" >
        </activity>
        <activity
            android:name=".juegos"
            android:label="@string/title_activity_juegos" >
        </activity>
        <activity
            android:name=".Juego2ColorMemo"
            android:label="@string/title_activity_juego2_color_memo" >
        </activity>
    </application>

</manifest>
