<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="butterflydevs.brainstudio" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActividadPrincipal"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Juego1"
            android:label="@string/title_activity_niveles"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Ranking"
            android:label="@string/title_activity_ranking" >
        </activity>
        <activity
            android:name=".Juego1niveln"
            android:label="@string/title_activity_juego_grid24"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".eliminame"
            android:label="@string/title_activity_eliminame" >
        </activity>
        <activity
            android:name=".juegos"
            android:label="@string/title_activity_juegos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Juego3niveln"
            android:label="@string/title_activity_juego2_color_memo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PruebasFacebook"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_pruebas_facebook"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="Login Facebook" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Juego2niveln"
            android:label="@string/title_activity_juego2niveln"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Juego2"
            android:label="@string/title_activity_juego2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Juego4"
            android:label="@string/title_activity_juego4"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Juego4niveln"
            android:label="@string/title_activity_juego4niveln"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".Juego3"
            android:label="@string/title_activity_juego3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Juego5"
            android:label="@string/title_activity_juego5"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Juego5niveln"
            android:label="@string/title_activity_juego5niveln"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
